/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  font-family: "Poppins", sans-serif;
}
:root {
  --items-bg-color: hsl(0, 0%, 0%);
  --second-bg-clr: lightgray;
  --third-bg-clr: darkgray;
  --white-clr: white;
  --hover-clr: blue; /* tomato; */
  --shadow-clr: Turquoise; /* #7700cc; */
 

        /* Font size -large screen */
        --biggest-font-size: 2.5rem;
        --bigger-font-size: 2rem;
        --big-font-size: 1.75rem;
        --medium-font-size: 1.5rem;
        --normal-font-size: 1.25rem;
        --small-font-size: 1rem;
        --smaller-font-size: 0.813rem;
        

        --bg-color: white;


  --box-shadow: .30rem .30rem var(--shadow-clr) ;
}
section {
  padding: 50px 10%;
}
body.active {
  color: var(--white-clr);
  background-color: #4d4d4d; /* #264040; */
}
body {
  background: var(--bg-color);
  color: var(--text-color);
}
*::selection {
  color: var(--bg-color);
  background: var(--main-color);
}
.heading {
  text-align: center;
}
.heading h2 {
  font-size: var(--bigger-font-size)
}
 
.heading span {
  font-size: var(--medium-font-size)
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px 10%;
  transition: 0.2s;
  box-shadow: -3px -3px 7px #ffffff73,
				2px 2px 5px rgba(94, 104, 121, 0.288);
}
header.shadow {
  box-shadow: 0 0 4px rgb(14 55 54 / 15%);
}
.logo {
  font-size: 1.61rem;
  font-weight: 600;
  color: var(--text-color);
}
#logoicon {
  font-size: 1.75rem;
  color: var(--text-color);
}

.navbar {
  display: flex;
}
.navbar li {
  background-color: var(--items-bg-color);
  margin-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  box-shadow: var(--box-shadow);
}
.navbar li:hover {
  background-color: var(--hover-clr);
}
.navbar a {
  font-size: 1rem;
  padding: 10px 20px;
  font-weight: 400;
  text-transform: uppercase;
  color:var(--white-clr);
}

#menu-icon {
  font-size: 24px;
  cursor: pointer;
  z-index: 10001;
  display: none;
}
#darkmode {
  width: 50px;
  height: 50px;
  font-size: 30px;
  cursor: pointer;
  padding: .55rem;
  background-color: black;
  color: white;
  border-radius: 50%;
}
#darkmode:hover {
  color: var(--hover-clr);
}

/* ========== Post Listings ==============*/
.post-site{
    margin-top: 1rem;
    margin-bottom: 1rem;
    bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.post-site h1 {
    margin-top: 10rem;
}
.post-site p {
  font-size: 1.25rem;
}
/*================== FOOTER ================*/
.footer {
  background-color: black;
  align-items: center;
  justify-content: center;
}

.footer__container {
  padding-block: 3rem 2rem;
  row-gap: 2.5rem;
  display: grid;
}

.footer__links {
  display: flex;
  justify-content: center;
  column-gap: 2rem;
}

.footer__link {
  color: white;
  transition: color .4s;
}

.footer__link:hover {
  color: hsl(0, 0%, 64%);
}

.footer__copy {
  color: white;
  font-size: .813rem;;
  text-align: center;
}

.footer__copy a {
  color: white;
  font-weight: 500;
}
#abdifatah {
  font-size: 1rem;
}
#abdifatah:hover {
  color: var(--hover-clr);
}

/* Making Responsive */
@media (max-width: 991px) {
  header {
    padding: 18px 4%;
  }
  section {
    padding: 50px 4%;
  }
}
@media (max-width: 881px) {
  :root {
    --big-font: 5rem;
    --medium-font: 1.4rem;
  }

  body {
    width: 100%;
    margin: 1rem;
    justify-content: center;
    align-items: center;
  }

}

@media (max-width: 768px) {
  :root {
    --big-font: 2.4rem;
    --medium-font: 1.2rem;
  }

  body {
    width: 100%;
    margin: 1rem;
    justify-content: center;
    align-items: center;
  }

  header {
    padding: 11px 4%;
  }
  #menu-icon {
    display: initial;
    color: var(--text-color);
  }
  header .navbar {
    position: absolute;
    top: -500px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background: var(--bg-color);
    box-shadow: 0 4px 4px rgb(0 0 0 / 10%);
    transition: 0.2s ease;
    text-align: center;
  }
  .navbar.active {
    top: 100%;
  }
  .navbar a {
    padding: 1.5rem;
    display: block;
    background-color: var(--bg-clr);
  }
  #darkmode {
    position: absolute;
    top: 1.4rem;
    right: 2rem;
  }
  .scroll-down {
    display: none;
  }
  .home {
    grid-template-columns: 0.5fr 3fr;
    box-shadow: 0 4px 4px rgb(0 0 0 / 10%);
    transition: 0.2s ease;
    align-items: center;
    justify-content: center;
  }
  
  .footer, .footer__container {
    display: grid;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 400px) {
  :root {
    --big-font: 1.7rem;
    --medium-font: 1.1rem;
  }

  body {
    width: 100%;
    margin: 1rem;
    justify-content: center;
    align-items: center;
  }
  
  .navbar.active {
    top: 100%;
    margin-right: 0;
    padding-right: 0;
  }

  
  .footer, .footer__container {
    display: grid;
    justify-content: center;
    align-items: center;
  }
}