/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  font-family: "Poppins", sans-serif;
}
:root {
  --items-bg-color: hsl(0, 0%, 0%);
  --second-bg-clr: lightgray;
  --third-bg-clr: darkgray;
  --white-clr: white;
  --hover-clr: blue; /* tomato; */
  --shadow-clr: Turquoise; /* #7700cc; */
 

        /* Font size -large screen */
        --biggest-font-size: 2.5rem;
        --bigger-font-size: 2rem;
        --big-font-size: 1.75rem;
        --medium-font-size: 1.5rem;
        --normal-font-size: 1.25rem;
        --small-font-size: 1rem;
        --smaller-font-size: 0.813rem;
        

        --bg-color: white;


  --box-shadow: .30rem .30rem var(--shadow-clr) ;
}
section {
  padding: 50px 10%;
}
body.active {
  color: var(--white-clr);
  background-color: #4d4d4d; /* #264040; */
}
body {
  background: var(--bg-color);
  color: var(--text-color);
}
*::selection {
  color: var(--bg-color);
  background: var(--main-color);
}
.heading {
  text-align: center;
}
.heading h2 {
  font-size: var(--bigger-font-size)
}
 
.heading span {
  font-size: var(--medium-font-size)
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px 10%;
  transition: 0.2s;
  box-shadow: -3px -3px 7px #ffffff73,
				2px 2px 5px rgba(94, 104, 121, 0.288);
}
header.shadow {
  box-shadow: 0 0 4px rgb(14 55 54 / 15%);
}
.logo {
  font-size: 1.61rem;
  font-weight: 600;
  color: var(--text-color);
}
#logoicon {
  font-size: 1.75rem;
  color: var(--text-color);
}

.navbar {
  display: flex;
}
.navbar li {
  background-color: var(--items-bg-color);
  margin-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  box-shadow: var(--box-shadow);
}
.navbar li:hover {
  background-color: var(--hover-clr);
}
.navbar a {
  font-size: 1rem;
  padding: 10px 20px;
  font-weight: 400;
  text-transform: uppercase;
  color:var(--white-clr);
}

#menu-icon {
  font-size: 24px;
  cursor: pointer;
  z-index: 10001;
  display: none;
}
#darkmode {
  width: 50px;
  height: 50px;
  font-size: 30px;
  cursor: pointer;
  padding: .55rem;
  background-color: black;
  color: white;
  border-radius: 50%;
}
#darkmode:hover {
  color: var(--hover-clr);
}
.home {
  margin-top: 1rem;
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 0.2fr 1.2fr 0.8fr;
  align-items: center;
  gap: 1rem;
}
.home-img {
  order: 3;
}
.home-img img {
  width: 100%;
}

.home-text {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-text span {
  font-size: var(--normal-font-size);
  font-weight: 400;
}
.home-text h1 {
  font-size: var(--biggest-font-size);
}

.home-text ul li {
  padding: .20rem;
  text-align: center;
  display: flex;
  justify-content: center;
}
code {
  background-color: black;
  color: var(--white-clr);
  margin-right: .35rem;
  padding-left:.25rem;
  padding-right:.25rem;
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
  text-align: center;
  justify-content: center;
  place-content: center;
}
code:hover {
  background-color: var(--hover-clr);
}

.home-text p {
  font-size: var(--p-font);
  font-weight: 500;
  margin: 0.5rem 0 1rem;
}
.social {
  display: flex;
  flex-direction: column;
}
.social a {
  margin-bottom: 1rem;
  font-size: 2rem;
  color: var(--text-color);
}
.social a:hover {
  color: var(--hover-clr);
}
.btn {
  display: inline-block;
  background-color: var(--items-bg-color);
  color: white;
  margin-top: .50rem;
  padding: 0.7rem 1.3rem;
  border-radius: 2rem;
  box-shadow: var(--box-shadow);
}
.btn:hover {
  background: var(--hover-clr);
}

.services {
  background-color: var(--bg-clr);
  box-shadow: -3px -3px 7px #ffffff73,
				2px 2px 5px rgba(94, 104, 121, 0.288);
}

.services-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
  padding-bottom: 5rem;
}
.services-box {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 0.5rem;
  border: .2px solid var(--items-bg-color);
  box-shadow: var(--box-shadow);}
.services h2 {
  margin-bottom: 2rem;
}

.services span {
  font-size: var(--medium-font-size);
}
.service-text {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: var(--small-font-size);
}
.services-box:hover{
 background-color: var(--hover-clr);
 color: white;
}

.services-box h3 {
  font-size: 1rem;
  font-weight: 600;
  margin: 0.7rem 0 0.4rem;
}
.services-box:hover h3{
  color: #fff;
}
.services-box .bx {
  padding-top: 2rem;
  font-size: 54px;
  color: var(--main-color);
}
.services-box:hover .bx{
  color: #fff;
}
.services-box a {
  color: var(--main-color);
  font-size: var(--p-font);
}
.services-box:hover a{
  color: #fff;
}

.contact{
  display: flex;
  flex-direction: column;
  margin-top: .25rem;
}

.contact-form {
  display: grid;
  place-items: center;
  margin-top: 1rem;
}
.contact-form form {
  display: flex;
  flex-direction: column;
  width: 650px;
}
form input,
textarea {
  padding: 15px;
  border-radius: 0.5rem;
  width: 100%;
  border: 2px solid black;
  outline: none;
  background: hsla(240, 93%, 6%, 0);
  margin-bottom: 1rem;
  color: var(--text-color);
}
.contact-button {
  border: none;
}
form input::placeholder,
textarea::placeholder {
  color: var(--text-color);
}
form textarea {
  resize: none;
  height: 200px;
}
.contact-button {
  width: 160px;
  cursor: pointer;
  background: black;
  color: #fff;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-left: 35%;
  box-shadow: var(--box-shadow);
}
.contact-button:hover {
  background: var(--hover-clr);
}

.email-button {
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  align-self: center;
}

.email-button:hover {
  cursor: pointer;
  text-decoration: underline;
  font-size: 1.30rem;
  color: var(--hover-clr);
}
.fillform {
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
/*================== FOOTER ================*/
.footer {
  background-color: black;
  align-items: center;
  justify-content: center;
}

.footer__container {
  padding-block: 3rem 2rem;
  row-gap: 2.5rem;
  display: grid;
}

.footer__links {
  display: flex;
  justify-content: center;
  column-gap: 2rem;
}

.footer__link {
  color: white;
  transition: color .4s;
}

.footer__link:hover {
  color: hsl(0, 0%, 64%);
}

.footer__copy {
  color: white;
  font-size: .813rem;;
  text-align: center;
}

.footer__copy a {
  color: white;
  font-weight: 500;
}
#abdifatah {
  font-size: 1rem;
}
#abdifatah:hover {
  color: var(--hover-clr);
}


/* Making Responsive */
@media (max-width: 991px) {
  header {
    padding: 18px 4%;
  }
  section {
    padding: 50px 4%;
  }
}
@media (max-width: 881px) {
  :root {
    --big-font: 5rem;
    --medium-font: 1.4rem;
  }

  body {
    width: 100%;
    margin: 1rem;
    justify-content: center;
    align-items: center;
  }

}

@media (max-width: 768px) {
  :root {
    --big-font: 2.4rem;
    --medium-font: 1.2rem;
  }

  body {
    width: 100%;
    margin: 1rem;
    justify-content: center;
    align-items: center;
  }

  header {
    padding: 11px 4%;
  }
  #menu-icon {
    display: initial;
    color: var(--text-color);
  }
  header .navbar {
    position: absolute;
    top: -500px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background: var(--bg-color);
    box-shadow: 0 4px 4px rgb(0 0 0 / 10%);
    transition: 0.2s ease;
    text-align: center;
  }
  .navbar.active {
    top: 100%;
  }
  .navbar a {
    padding: 1.5rem;
    display: block;
    background-color: var(--bg-clr);
  }
  #darkmode {
    position: absolute;
    top: 1.4rem;
    right: 2rem;
  }
  .scroll-down {
    display: none;
  }
  .home {
    grid-template-columns: 0.5fr 3fr;
    box-shadow: 0 4px 4px rgb(0 0 0 / 10%);
    transition: 0.2s ease;
    align-items: center;
    justify-content: center;
  }
  .home-text {
    grid-column: 1/3;
    padding-left: 1.4rem;
  }
  .home-img {
    order: initial;
    width: 100%;
  }
  .contact-form form{
    width: 300px;
  }
  .contact-button{
    margin-left: 25%;
    align-items: center;
    justify-content: center;
  }
  .footer, .footer__container {
    display: grid;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 400px) {
  :root {
    --big-font: 1.7rem;
    --medium-font: 1.1rem;
  }

  body {
    width: 100%;
    margin: 1rem;
    justify-content: center;
    align-items: center;
  }
  .home-text span {
    font-size: 1rem;
  }
  .home-text h2 {
    font-size: 0.9rem;
    font-weight: 500;
    align-items: center;
    justify-content: center;
  }
  .navbar.active {
    top: 100%;
    margin-right: 0;
    padding-right: 0;
  }

  .services-box{
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .contact {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .contact-form form{
    width: 300px;
  }
  .contact-button{
    margin-left: 25%;
  }
  .footer, .footer__container {
    display: grid;
    justify-content: center;
    align-items: center;
  }
}